<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    <p> {{screamIt "I have a mustache!"}}</p>
    {{> footer}}
  </body>
</html>
